.table {
    border-collapse: collapse;
    width: 100%;
    background-color: #f2f2f2;
  }
  
  .table th, thead {
    background-color: rgb(223, 203, 203);
  }
  .table td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  .green {
    background-color: green;
  }
  .red {
    background-color: red;
  }
  .button {
    border: none;
    outline: none;
  }
  .logo {
    height: 100px;
    /* width: 100px; */
  }
  /* .date {
    text-align: right;
  } */