  table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
  }
  
  table th, thead, td {
    text-align: left;
    padding: 10px;
    border: 1px solid #ddd;
  }
  table th {
    text-align: center;
    background-color: #b87e83;
    color: white;
  }
  table tr:hover{
    background-color: #ddd;
  }
  .green {
    background-color: green;
  }
  .red {
    background-color: red;
  }
  .logo {
    height: 100px;
    /* width: 100px; */
  }
  /* .date {
    text-align: right;
  } */