.navbar{
    width: 100%;
    background-color: #D0D0D0;
    position: sticky;
    z-index: 10;

    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.navbarList{
    display: flex;
    flex-wrap: wrap;
}

.itemText{
    color: white;
    font-weight: 500;
    text-decoration: none;

    transition:  all 0.3s ease-in-out;
}

.item:hover{
    .itemText{
        color:black
    }
}

.item{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px 20px;
    transition:  all 0.3s ease-in-out;
    cursor: pointer;
}