.navbar{
    width: 100%;
    height: 40px;
    background-color: #6484c4;
    position: sticky;
    z-index: 10;

    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.navbarList{
    display: flex;
    flex-wrap: wrap;
}

.itemText{
    color: white;
    font-weight: 500;
    text-decoration: none;

    transition:  all 0.3s ease-in-out;
}

.triangle{
    height: 15px;
    transition: transform 0.3s ease;
}

.item:hover{
    .itemText{
        color:black
    }
    .triangle{
        transform: rotate(360deg);
    }
}

.item{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px 20px;
    transition:  all 0.3s ease-in-out;
    cursor: pointer;
}

.itemText{
    color: white;
    font-size: 20px;
    font-family:'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
}

.dateTime{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px 20px;
    font-size: 20px;
    font-family:'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
}